<form action="/student/search" method="post" enctype="multipart/form-data" class="form-horizontal" >
  <fieldset>
    <legend>Öğrenci Bul</legend>
    <div class="control-group">
      <label class="control-label" for="input02">Öğrenci ID (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge required" id="input02" name="id" value="">
      </div>
    </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Bul</button>
    <a class="btn" href="/">İptal</a>
  </div>
  </fieldset>
</form>

</br>
</br>
<% if @student %>
  <b> Arama Sonucu </b></br></br>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Bölüm</th>
        <th>Fakülte</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @student[:id] %></td>
        <td><%= @student[:firstname] %></td>
        <td><%= @student[:lastname] %></td>
        <td><%= @student.department.name %></td>
        <td><%= @student.department.faculty.name %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <b>Gösterilecek Öğrenci Yok</b>
<% end%>
